@import '../constants.css';
@import 'normalize.css/normalize.css';

html {
  font-family: var(--font);
  font-weight: 300;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-weight: 600;
  line-height: 1.4;
}

a {
  color: var(--primary);
}

main a {
  text-decoration: none;
  border-bottom: 1px var(--primary) dotted;

  &:hover {
    border-bottom-style: solid;
  }
}

code {
  font-family: var(--fontMonospace);
  font-weight: 300;
  background-color: gray(95%);
  padding: 0 0.2em;
}
