.app {
  text-align: center;
}

.header {
  padding: 15px;
  background-color: #222;
  color: #fff;
}

.logo {
  display: block;
  max-width: 100%;
  width: 250px;
  margin: 0 auto;
}

code {
  background-color: #eee;
}
