@import '../constants.css';

.nav {
  background-color: gray(10%);
}

.brand {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  display: block;
  height: var(--navHeight);
}

.menu {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: var(--navHeight);
}
